.RegisterFULL {
height: 100vh;
  background-image: url('../assets/THOR-Shadow.png');
  background-size: cover;
}

.Register {
    /* display: 'flex'; */
    align-items: center;
    justify-content: center;
    display: inline-block; 
    margin: 30px;
    padding: 20px;
    border: rgb(180, 180, 2) solid;
    background-color: rgb(255, 255, 132);
    box-shadow: 10px 10px rgb(230, 228, 228);
  }

  
@font-face {
    font-family: 'MARVEL';
    src: url('../assets/MarvelRegular.ttf')
}

@font-face {
    font-family: 'THOR';
    src: url('../assets/ThorRagnarok.ttf');
}

@font-face {
    font-family: "MainFont";
    src: url('../assets/CaptainMarvel.ttf');
  }

.Title {
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'THOR';
}

.RegTitle {
    font-size: 40px;
    /* font-family: 'THOR';  */
    font-weight: bolder;
}


.Marvel {
    font-size: 60px;
    font-family: 'MARVEL';
    font-weight: bolder;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    border: black solid;
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;

}

/* SUBMIt BUTTON */
.submitBttn {
    font-family: 'MainFont';
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: rgb(253, 253, 214);
    border: black solid;
}
.submitBttn:hover {
    background-color: rgb(248, 248, 89);
}
.submitBttn:active {
    background-color: rgb(172, 172, 51);
}

/* INPUT FIELDS */
.inputField {
    border: rgb(156, 156, 3) solid;
    background-color: rgb(253, 253, 214);
    padding: 5px;
    margin: 2px;
}
.inputField:focus {
    border: rgb(172, 172, 51) solid;
}