.FeedFULL {
    height: 100vh;
    background-image: url('../assets/IRONMAN.png');
    background-size: cover;
    background-attachment: fixed;
}

/* FONTS */
  @font-face {
    font-family: 'MARVEL';
    src: url('../assets/MarvelRegular.ttf')
}

@font-face {
    font-family: 'IRONMAN';
    src: url('../assets/IronManOfWar.ttf');
}

@font-face {
    font-family: "MainFont";
    src: url('../assets/CaptainMarvel.ttf');
  }

  /* TO-DO LIST TEXT */
  .FeedTitle {
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: 'IRONMAN';
}

/* FOR MARVEL LOGO */
.Marvel {
    font-size: 60px;
    font-family: 'MARVEL';
    font-weight: bolder;
    display: inline-block;
    align-items: center;
    justify-content: center;
    color: white;
    border: black solid;
    background-color: red;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

/* BUTTONS */
.feedBttn {
    font-family: 'MainFont';
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    background-color: rgb(253, 253, 214);
    border: black solid;
}
.feedBttn:hover {
    background-color: rgb(248, 248, 89);
}
.feedBttn:active {
    background-color: rgb(172, 172, 51);
}

/* INPUT FIELDS */
.toDoListInputField {
    width: 30vh;
    border: rgb(156, 156, 3) solid;
    background-color: rgb(253, 253, 214);
    padding: 5px;
    margin: 2px;
}
.toDoListInputField:focus {
    border: rgb(172, 172, 51) solid;
}