.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  font-family: 'MainFont';
}

@font-face {
  font-family: "MainFont";
  src: url('./assets/CaptainMarvel.ttf');
}

td {
  text-align: left;
}